<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="Bonsai" version="2.6.1" />
    <Package id="Bonsai.Core" version="2.6.0" />
    <Package id="Bonsai.Design" version="2.6.0" />
    <Package id="Bonsai.Editor" version="2.6.1" />
    <Package id="Rx-Core" version="2.2.5" />
    <Package id="Rx-Interfaces" version="2.2.5" />
    <Package id="Rx-Linq" version="2.2.5" />
    <Package id="Rx-PlatformServices" version="2.2.5" />
    <Package id="SvgNet" version="2.0.1" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Bonsai" />
    <AssemblyReference assemblyName="Bonsai.Core" />
    <AssemblyReference assemblyName="Bonsai.Design" />
    <AssemblyReference assemblyName="Bonsai.Editor" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="Bonsai" processorArchitecture="MSIL" location="Packages\Bonsai.2.6.1\lib\net472\Bonsai.exe" />
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages\Bonsai.Core.2.6.0\lib\net462\Bonsai.Core.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Design.2.6.0\lib\net462\Bonsai.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Editor" processorArchitecture="MSIL" location="Packages\Bonsai.Editor.2.6.1\lib\net462\Bonsai.Editor.dll" />
    <AssemblyLocation assemblyName="SVG" processorArchitecture="MSIL" location="Packages\SvgNet.2.0.1\lib\net40\SVG.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Core" processorArchitecture="MSIL" location="Packages\Rx-Core.2.2.5\lib\net45\System.Reactive.Core.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Interfaces" processorArchitecture="MSIL" location="Packages\Rx-Interfaces.2.2.5\lib\net45\System.Reactive.Interfaces.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Linq" processorArchitecture="MSIL" location="Packages\Rx-Linq.2.2.5\lib\net45\System.Reactive.Linq.dll" />
    <AssemblyLocation assemblyName="System.Reactive.PlatformServices" processorArchitecture="MSIL" location="Packages\Rx-PlatformServices.2.2.5\lib\net45\System.Reactive.PlatformServices.dll" />
  </AssemblyLocations>
  <LibraryFolders />
</PackageConfiguration>